<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a Software Engineer with a Masters Degree in Software Engineering from East Carolina University.<br><br>
          I'm looking for software developer roles where I can work in challenging environments
          amongst technology driven and passionate colleagues.
        </p>
        <br>
        <p>
           I've filed a <b>patent</b> for "RFID based Smart Shopping Cart".
           I'm most attracted to solving real customer problems with a business justification.
        </p>
        <br>
      </div>
	    <div class="col-sm-6">
		    <ul>
          <h3 style="margin-top:0;">Work Experience</h3>
          <b><u> East Carolina University, North Carolina</u>
          <br>Graduate/Research Assistant &emsp;&emsp; Jan'17 - March' 18</b><br>
    			<li>
            Worked in Department of Computer Science/Construction department as an Technical Assistant, 
helping and maintaining their web application.
    			</li>
          <li>
            Gathered the requirement and helping in research for training/testing AI models in Construction 
department
          </li>
          <li>
            Implemented new functionality and Rest Services for online student portal using Angular, React, 
JavaScript
          </li>
          <li>
            Implemented authorization layer for the application using Angular, Nodejs framework.
          </li>
          <li>
            Worked with Tech support team to debug and resolve daily ongoing Issues.
          </li>
          <br>
          <b> <u> Diesel Modernisation Work, India</u>
          <br>Software Engineering Intern &emsp;&emsp; Jun'15- Aug'15 </b><br>
          <li>
            Worked in Electrical-Computer Science Research Department on monitoring and handling 
            microprocessor controls for various Micro-processor operated machines. 
          </li>
          <li>
            Involved in improving the web UI using JavaScript, JQuery, HTML, CSS.
          </li>
          <li>
              Worked on one of the module of Medha Software for monitoring the simulation of 
              microcontrollers.
          </li>
          <li>
              Actively participated in daily SCRUM meetings to produce quality deliverables within time.
          </li>
          <br>
          <b>
		    </ul>
	    </div>
    </div>
  </div>
</section>
